@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #0D1A2D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-nft{
    width: 350px;
    height: 600px;
    border-radius: 15px;
    background-color: #15273F;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-nft div {
    width: 305px;
    height: 305px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.container-nft div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 0;
}

.container .container-nft .nft-img i {
    width: 16.1%;
    height: 32.1%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 999;
}

.container .container-nft .nft-img i:hover {
    visibility: visible;
}



.container-nft .nft-img i img {
    width: 40px;
    height: 40px;
}


.container-nft .ntf-details {
    margin-top: 30px;
}

.container-nft .ntf-details .title{
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
    cursor: pointer;
}

.container-nft .ntf-details .title:hover {
    color: #15F7F5;
}

.container-nft .ntf-details .details {
    color: #889DBA;
}

.container-nft .ntf-details .nft-price {
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}


.container-nft .ntf-details .nft-price .price {
    height: 100%;
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.container-nft .ntf-details .nft-price img {
    width: 40px;
    height: 40px;
}



.container-nft .ntf-details .nft-price img{
    width: 15px;
    height: 30px;
    padding-right: 15px;
}

.container-nft .ntf-details .nft-price img{
    width: 13px;
    height: 20px;
    padding-right: 8px;
}
.container-nft .ntf-details .nft-price .eth{
    color: #15F7F5;
    font-size: 14px;
}

.container-nft .ntf-details .nft-price .date{
    display: flex;
    justify-content: center ;
    align-items: flex-end;
    height: 100%;
}

.container-nft .ntf-details .nft-price span{
    color: #889DBA;
}

.container hr {

    border: .5px solid #889DBA;
    opacity: .3;
    margin-top: 50px;
}

.container-nft .creation {
    display: flex;
    align-items: center;
    height: 30px;
    flex-direction: row;
}


.container-nft .creation img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid white;
    margin-right: 15px;
}

.container-nft .creation p {
    color: #889DBA;
    font-family: 'Red Hat Display', sans-serif;

}

.container-nft .creation span {
    color: white;
}


@media (max-width: 300px) and (max-height:700px){
    .container-nft {
        width: 250px;
    }

    .container-nft div {
        width: 90%;
        height: 50%;
    }
}